{% extends "base.html" %}

{% block title %}

    GROUP CREATOR - О нас

{% endblock %}

{% block content %}

    <div class="subscribe__description">
        Данный веб-ресурс является учебным проектом студентки факультета СПО Университета ИТМО Бошнякович Анастасии. Его задачей является разработка приложения для преподавателей и психологов, которое позволит определять модели поведения и роль человека в коллективе, а также автоматизировать процесс формирования мини-коллективов для проведения мероприятий дополнительного образования.</br>
        Веб-ресурс предоставляет возможность определять:</br>
        1. Роль респондента в коллективе и основные психологические характери-стики его личности (модель поведения), посредством осуществления тестирования в соответствии с методикой Томаса-Килменна (Прохождение респондентами теста К.Томаса).</br>
        2. Результат формирования группы. Формирование подразумевает создание благоприятного психологического климата, способствующего продуктив-ной работе в рамках мероприятий дополнительного общего образования. (Обработка и перевод полученных результатов в заданные критерии формирования коллективов, согласно комплексной методике принятия групповых решений и распределения ролей в группе).
    </div>
    
    <div class="subscribe__button-back">
        <a href="/main">
            <div class="subscribe__button-b">
                НАЗАД
            </div>
        </a>
    </div>

{% endblock %}