{% extends "base.html" %}

{% block title %}

    О нас

{% endblock %}

{% block content %}

    <div class="subscribe__description">
        <div class='msf_vik'>
            <p>Данный веб-ресурс является учебным проектом студентки факультета СПО Университета ИТМО Бошнякович Анастасии. Его задачей является разработка приложения для преподавателей и психологов, которое позволит определять модели поведения и роль человека в коллективе, а также автоматизировать процесс формирования мини-коллективов для проведения мероприятий дополнительного образования.</p>
            <p>Веб-ресурс предоставляет возможность определять:</p>
            <ol>
                <li>Роль респондента в коллективе и основные психологические характери-стики его личности (модель поведения), посредством осуществления тестирования в соответствии с методикой Томаса-Килменна (Прохождение респондентами теста К.Томаса).</li>
                <li>Результат формирования группы. Формирование подразумевает создание благоприятного психологического климата, способствующего продуктив-ной работе в рамках мероприятий дополнительного общего образования. (Обработка и перевод полученных результатов в заданные критерии формирования коллективов, согласно комплексной методике принятия групповых решений и распределения ролей в группе).</li>
            </ol>
        </div>
    </div>
    
    <div class="subscribe__button-back">
        <a href="http://localhost:5000/main">
            <div class="subscribe__button-b">
                <span class='txt_up'>назад</span>
            </div>
        </a>
    </div>

{% endblock %}
