{% extends "base.html" %}

{% block title %}

	Админ

{% endblock %}

{% block header %}
	
	<div class='error'>
		{{ Error }}
		{{ mesage }}
	</div>

	{{ surname }} {{ name }} {{ middle_name }}

{% endblock %}

{% block content %}
	
	<form method='post' name='reg'>
		<input type='submit' value='Показать генерацию групп' name='generation'>
		<div class='test'>
			{{ form_gp.count }}
		</div>
		<input type='submit' value='Сгенерировать и сохранить все группы' name='save_all'>
		<input type='submit' value='Удалить рандомные результаты' name='delete_radnom_pidorov'>
	</form>

	<div class="subscribe__button-back">
		<a href="/group_create">
			<div class="subscribe__button-b">
				<span class='txt_up'>Создание группы вручную</span>
			</div>
		</a>
	</div>
	<br>
	<div class="subscribe__button-back">
		<a href="/look_at_group">
			<div class="subscribe__button-b">
				<span class='txt_up'>Просмотреть существующие группы и нераспределённых респондентов</span>
			</div>
		</a>
	</div>
	<br>
	<div class="subscribe__button-back">
		<a href="/statistic">
			<div class="subscribe__button-b">
				<span class='txt_up'>Просмотреть статистику</span>
			</div>
		</a>
	</div>

	<div class='zero_height'>
		<table>
			<tr>
				<td>
					Группы которые будут сгенерированны
				</td>
				<td>
					Оставшиеся респонденты
				</td>
			</tr>
			<tr>
				<td>
					<table>
						{% for i in data %}
						<tr>
							<td>
								{{ i }}
							</td>
						</tr>
						{% endfor %}
					</table>				
				</td>
				<td>
					<table>
						{% for i in last %}
						<tr>
							<td>
								{{ i }}
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<input type='submit' value='Сохранить группу №' name='save_this'>
				</td>
			</tr>
		</table>
	</div>

	<p>Респонденты сейчас:</p>
	<table>
		<tr>
			<td>
				ФИО
			</td>
			<td>
				Характер
			</td>
		</tr>
		<tr>
			<td>
				<div class='special_height'>
					<table>
							{% for i in arr_fio %}
							<tr>
								<td>
									{{ i }}
								</td>
							</tr>
							{% endfor %}
					</table>
				</div>
			</td>
			<td>
				<div class='zero_height'>
					<table>
							{% for i in arr_haracter %}
							<tr>
								<td>
									<table>
										{% for j in i %}
											<tr>
												<td>
													{{ j }}%
												</td>
											</tr>
										{% endfor %}
									</table>
								</td>
							</tr>
							{% endfor %}
					</table>
				</div>
			</td>
		</tr>

	</table>

	<div class="subscribe__button-back">
        <a href="/main">
            <div class="subscribe__button-b">
                <span class='txt_up'>назад</span>
            </div>
        </a>
    </div>

{% endblock %}