{% extends "base.html" %}

{% block title %}

    Инструкция

{% endblock %}

{% block content %}

    <div class="subscribe__description">
        <div class='msf_vik'>
            <p>Тест К. Томаса позволяет выявить стиль поведения в конфликтной ситуации не только показывая типичную реакцию на конфликт, но и объясняя, насколько она эффективна и целесообразна, а также дает информацию о других способах разрешения конфликтной ситуации.</p>
            <ul>
                <li>Соперничество (конкуренция) или административный тип, как стремление добиться удовлетворения своих интересов в ущерб другому.</li>
                <li>Приспособление (приспосабливание), означающее, в противоположность соперничеству, принесение в жертву собственных интересов ради интересов другого человека.</li>
                <li>Компромисс или экономический тип.</li>
                <li>Избегание или традиционный тип, для которого характерно как отсутствие стремления к кооперации, так и отсутствие тенденции к достижению собственных целей.</li>
                <li>Сотрудничество или корпоративный тип, когда участники ситуации приходят к альтернативе, полностью удовлетворяющей интересы обеих сторон.</li>
            </ul>
            <p>Для идентификации индивидуальных предпочтений, имеющих непосредственное отношение к выбору роли в группе, предлагается GroupRoleTypeIndicator. Данная методика позволяет идентифицировать роли участников малой группы. Между этими методиками можно установить следующее соответствие:</p>
            <ul class="special_ul">
                <li>Где 1 – Формальный лидер – идеальная включенность, максимальный контроль и минимальное эмоциональное восприятие;</li> 
                <li><span class='txt_up'>организатор</span>  2 – Неформальный лидер – идеальная включенность, идеальный уровень контроль, идеальное или максимальное эмоциональное восприятие</li>
                <li><span class='txt_up'>разряжает обстановку</span> 3 – Информатор – идеальная включенность, идеальный или минимальный уровень контроля (демократия), идеальное эмоциональное восприятие;</li> 
                <li>4 – Критик – минимальная включенность, минимальный уровень контроля, минимальное эмоциональное восприятие;</li>
                <li>5 – Снимающий напряжение – идеальная включенность, идеальный или минимальный уровень контроля, идеальное или максимальное эмоциональное восприятие.</li>
            </ul>
            <p>Обработка и перевод полученных результатов в заданные критерии формирования коллективов, согласно комплексной методике принятия групповых решений и распределения ролей в группе (3-9 человек).</p>
            <p>Исходя из полученных результатов можно сформировать 4 типа рабочих групп, отображающих различное распределение ролей, групповой динамики, коммуникативные навыки и удовлетворение основных потребностей во вз-имодействии.</p>      
        </div>
    </div>
    
    <div class="subscribe__button-back">
        <a href="http://localhost:5000/main">
            <div class="subscribe__button-b">
                <span class='txt_up'>назад</span>
            </div>
        </a>
    </div>

{% endblock %}