{% extends "base.html" %}

{% block title %}

	Регистрация администратора

{% endblock %}

{% block header %}
	
	<div class='error'>
		{{ Error }}
	</div>

{% endblock %}

{% block content %}

	<div class="subscribe__title">
		<span class='txt_up'>регистрация нового админинстратора</span>
	</div>

	<div class="subscribe__button">
		<form method='post' name='reg'>
			<div class='msf_vik'>
				<p>Придумайте логин - {{ form.login }}</p>
				<p>Адрес электронной почты: - {{ form.email }}</p>
				<p>Фамилия - {{ form.surname }}</p>
				<p>Имя - {{ form.name }}</p>
				<p>Отчество - {{ form.middle_name }}</p>
			</div>
			<input type="checkbox" name="a" value="Согласие на обработку персональных данных" checked><p>Согласие на обработку персональных данных</p>
			<input type='submit' value='Зарегистрироваться'>
		</form>
	</div>

	<div class="subscribe__button-back">
		<a href="http://localhost:5000/main">
			<div class="subscribe__button-b">
				<span class='txt_up'>назад</span>
			</div>
		</a>
	</div>

{% endblock %}