{% extends "base.html" %}

{% block title %}

	Регистрация респондента

{% endblock %}

{% block header %}
	
	<div class='error'>
		{{ Error }}
	</div>

{% endblock %}

{% block content %}

	<div class="subscribe__title">
        <span class='txt_up'>регистрация нового респондента</span>
    </div>
    
   	<div class="subscribe__button">
        <form method='post' name='reg'>
        	<div class='msf_vik'>
	        	<p>Придумайте логин - {{ form.login }}</p>
	        	<p>Придумайте пароль: - {{ form.password }}</p>
	        	<p>Адрес электронной почты: - {{ form.email }}</p>
	        	<p>Фамилия - {{ form.surname }}</p>
	        	<p>Имя - {{ form.name }}</p> 
        	</div>
        	<input type="checkbox" name="soglasie" value="Согласие на обработку персональных данных" checked>Согласие на обработку персональных данных</p>
			<input type='submit' value='Зарегистрироваться'>
		</form>
	</div>

	<div class="subscribe__button-back">
    	<a href="http://localhost:5000/main">
    		<div class="subscribe__button-b">
    			<span class='txt_up'>назад</span>
    		</div>
    	</a>
   	</div>

{% endblock %}
