{% extends "base.html" %}

{% block title %}

    Начать тестирование

{% endblock %}

{% block content %}

    <div class="subscribe__description">
        <div class='msf_vik'>
            <p>Инструкция: Перед вами ряд утверждений, которые помогут определить некоторые особенности вашего поведения. Здесь не может быть ответов «правильных» или «ошибочных». Люди различны, и каждый может высказать свое мнение.</p>
            <p>Имеются два варианта, А и В, из которых вы должны выбрать один, в большей степени соответствующий вашим взглядам, вашему мнению о себе. В бланке для ответов поставьте отчетливый крестик соответственно одному из вариантов (А или В) для каждого утверждения. Отвечать надо как можно быстрее.</p>
        </div>
    </div>

    <div class="subscribe__button">
        <a href="http://localhost:5000/test">
            <div class="subscribe__button-b">
                <span class='txt_up'>начать</span>
            </div>
        </a>
        <a href="http://localhost:5000/main">
            <div class="subscribe__button-b">
                <span class='txt_up'>назад</span>
            </div>
        </a>
    </div>

{% endblock %}
