{% extends "base.html" %}

{% block title %}
	
	Тест

{% endblock %}

{% block header %}
	
	<div class='error'>
		{{ Error }}
	</div>

{% endblock %}

{% block content %}
	
	<!-- Чекбоксы -->
<!-- 	<form method='post' name='reg'>
		<table>
			<tr>
				<td>
					<table>
						{% for i in arr_A %}
						<tr>
							<td>
								{{ i }}
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>
								{{ Answ.answer1_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer2_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer3_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer4_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer5_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer6_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer7_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer8_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer9_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer10_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer11_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer12_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer13_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer14_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer15_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer16_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer17_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer18_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer19_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer20_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer21_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer22_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer23_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer24_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer25_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer26_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer27_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer28_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer29_A }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer30_A }}	
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>
								{{ Answ.answer1_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer2_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer3_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer4_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer5_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer6_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer7_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer8_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer9_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer10_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer11_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer12_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer13_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer14_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer15_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer16_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer17_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer18_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer19_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer20_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer21_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer22_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer23_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer24_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer25_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer26_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer27_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer28_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer29_B }}	
							</td>
						</tr>
						<tr>
							<td>
								{{ Answ.answer30_B }}	
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						{% for i in arr_B %}
						<tr>
							<td>
								{{ i }}
							</td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
		<input type='submit' value='Ответить'>
	</form> -->

	<!-- Радио вариант -->
	<form method='post' name='reg'>
		<div class='test'>
			<table>
				<tr>
					<td>
						{{ arr_A[0] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer1 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[0] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[1] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer2 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[1] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[2] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer3 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[2] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[3] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer4 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[3] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[4] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer5 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[4] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[5] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer6 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[5] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[6] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer7 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[6] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[7] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer8 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[7] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[8] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer9 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[8] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[9] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer10 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[9] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[10] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer11 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[10] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[11] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer12 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[11] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[12] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer13 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[12] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[13] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer14 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[13] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[14] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer15 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[14] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[15] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer16 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[15] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[16] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer17 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[16] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[17] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer18 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[17] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[18] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer19 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[18] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[19] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer20 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[19] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[20] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer21 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[20] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[21] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer22 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[21] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[22] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer23 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[22] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[23] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer24 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[23] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[24] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer25 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[24] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[25] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer26 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[25] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[26] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer27 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[26] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[27] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer28 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[27] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[28] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer29 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[28] }}
					</td>
				</tr>
				<tr>
					<td>
						<hr>
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_A[29] }}
					</td>
				</tr>
				<tr>
					<td>
						{{ Answ.answer30 }}
					</td>
				</tr>
				<tr>
					<td>
						{{ arr_B[29] }}
					</td>
				</tr>
			</table>
		</div>
		<input type='submit' value='Ответить'>
	</form>
	<div class="subscribe__button-back">
        <a href="/main">
        	<div class="subscribe__button-b">
        		<span class='txt_up'>отменить</span>
        	</div>
        </a>
    </div>

{% endblock %}